 
         @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&family=Saira:wght@700&display=swap');
        html{
            scroll-behavior: smooth;
        }
        body {
            font-family: 'Poppins', sans-serif;
        }

        h1,
        h2 {
            font-family: 'Saira', sans-serif;
        }

        :root {
            --primary-color: #033b4a;
            --secondary-color: #20c997;
            --gray: #4a4a4d;
            --bg-primary: #ecf0f3;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        ul {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        header {
            height: 100vh;
            background-image: url(ww1.jpg);
            background-size:100% 100vh ;
            border-bottom:2px rgb(172, 149, 149);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
        header .n{
            background-color: #1d1919;
            border-bottom:1px solid #292727;
            /*box-shadow: #1d1919 2px 2px 2px;*/
            position: fixed;
            width: 100%;
            padding-bottom: 0px;
            height: 100px;
            z-index: 2;
        }
        header .n nav{
            display: flex; 
            justify-content: space-between;
            align-items: center;
            max-width: 1300px;
            margin: auto;
            margin-top: 0.5px;


        }
   
    /* header {
    height: 40px; 
}

header .n {
    height: 100px;
}
*/
   
    
  nav {
    padding: 0.5rem 2rem; 
    }

        span.t-s{
            color: #c00808;
        }
      
        header .n nav ul{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1px;
                 
               }
         header .n nav ul :hover{
            transform: scale(0.95);
            transition: all 0.3s ease;
         }
    header .n nav ul li a {
    margin: 0px 15px;
   /* color: var(--primary-color);*/
    color: rgb(247, 241, 241);
    font-family: 600;
    position: relative;
    margin-top: auto;

}
    header .n nav ul li a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    background-color: #c00808;
    /*background-color: var(--secondary-color);*/
    transition: width 0.3s ease;
        }
        
    header .n nav ul li a:hover:after {
        width: 100%;
    }
    .t-p1{
        
        color: #1d1919;
       /* text-shadow: #ad0808 1px 2px 2px;*/
        
    }

        header .h-c{
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            max-width: 1100px;
            margin: auto;
            padding: 5rem 2rem 0;
            height: 100%;
            align-items: center;

        }
        
        header .h-c img{
            max-width: 500px;

        }
      

        .t-p{
            /*color: var(--secondary-color);*/
            color:#c40505;
        }
        header .h-c p span{
            font-weight: 700;
            font-size: 25px;
        }
        header .h-c #bb{
            font-size: 60px;
            color: #c40505;
            letter-spacing: 3px;
            text-shadow: 2px 2px 2px rgba(15, 14, 14, 0.2);
        }
        header .h-c #pp{
            font-size: 40px;
            color: var(--primary-color);
            padding-right: 2px;
            
        }
        header .h-c .tt {
            font-size: 25px;
           /* color: var(--primary-color);*/
           color: #1d1919;
            margin: 10px 0px;
            font-weight: 500;
            /*text-shadow: #9c9797 2px 2px 2px;*/
        }
        header .h-c .s-m{
            margin: 1rem 0rem 2rem;
        }
        header #home #s-m :hover {
            transform: scale(0.90);
        }
        header .h-c .s-m a i{
            font-size: 25px;
            padding: 10px;
            /*background-color: var(--gray);*/
            background-color: #1d1919;
            color: #fff;
            border-radius: 50%;
            margin-right: 10px;
            transition: all 0.3s ease;
        }
        header .h-c .s-m a i:hover {
            transform: scale(0.90);
        }
        
        .b-c{
            color: #fff;
            background-color: #1d1919;
            padding: 5px 30px;
            font-size: 15px;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            box-shadow: #222 2px 2px 2px;
           
            
        }
        
         .b-c:hover{
              background-color: #c40505;
         }
         #pp {
        font-size: 40px;
        padding-right: 5px;
        padding-left: 0px;
        text-align: left;
        padding: 1.5rem 1rem;
        
    }
    .ssb{
        font-size: 15px;
        height: 500px;
        width: 500px;
        padding: 5rem 2rem 10rem;
        margin: auto;

        

    }
     .text-am{
        font-size: medium;
        text-align: left;
        width: 550px;
        padding-left: 30px;
        margin-left: 100px;
        padding-left: 25px;
        padding-right: 20px;
     }
     .cntr{ max-width: 1100px;
        margin: auto;
        padding: 0 2rem;


     }
     #about , #skills {
        padding: 6rem 0;
     }
     #about h2 , #skills h2 , #contact h2{
        text-align: center;
        font-size: 30px;
        /*color: var(--primary-color);*/
        color: #1d1919;
        font-weight: 600;
        letter-spacing: 2px;
        
     }
     #contact{
        background: #00f4ab0c;
     }
     
     #about hr, #skills hr ,#education hr{
        width: 100PX;
        height: 3px;
        border: none;
        /*background-color: var(--secondary-color);*/
        background-color: #c40505;
        margin: 5px auto 0;
     }
#about .about-c{
    margin: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5rem;
}
#about .about-c .c1 h3{
    font-size: 23px;
    margin-bottom: 20px;
    /*color: var(--primary-color);*/
    color: #1d1919;
}
#about .about-c .c1 p{
    color: var(--gray);
    margin-bottom: 20px;
    line-height: 1.8;
}
#about .about-c .c2 p{
    color: var(--gray);
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
 #skills .row img {
    max-width: 40px;
 }
    
#skills {
    /*background-color: var(--primary-color);*/
    background-color: #1d1919;
}
#skills h2{
    color: var(--bg-primary);
    font-family: 'Poppins', sans-serif;
}
.t-p11{
    color: #1d1919;
}
#skills .s-c{
    margin-top: 2rem;
    /*background-color: #0e2125;*/
    background-color: #c00808;
    box-shadow:#000000 2px 2px 2px ;
   
}
#skills .s-c .row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: center;
}
#skills .s-c .row .item{
    color: #fff;
    background-color: black;
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    transition:all 0.35s ease;
}
  .item {
      transition: 2.5s;
  }
 #skills .row :hover{
     transform:scale(1.07);
     
 }       
#skills .s-c .row .item:nth-child(4) img{
    max-width: 80px;
}
#skills .s-c .row .item:nth-child(1) img{
    max-width: 95px;
}
#skills .s-c .row .item :hover{
    box-shadow: 10px 10px 10px #00f4ab0c;
}
         #contact{
            padding: 4rem 0;
         }
         #contact .row{
            margin-top: 1rem;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            background-color: #fff;
            box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
            padding: 1rem 3rem 0;
            border-radius: 10px;
            column-gap: 3rem;    
            padding-bottom: 0;
         }
         
         #it{
            max-width: 430px;
         }
         #contact .row input, #contact .row textarea{
            display: block;
            width: 100%;
            margin: 10px 10px;
            outline: none;
            background-color: #00f4ab0c;
            border: 2px solid #bbb;
            padding: 10px;
            padding-left: 30px;
         }
        .tat{
            font-size: 50px;
        }
    #skills{
        border-bottom:2px solid #ccc;
    }
    .s-up{
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 20px;
        color: #fff;
        background-color: #c00808;
        padding: 5px 12px;
        border-radius: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }
        #ft{ 
            /*background-color: #222;*/
            background-color:  #750505;;
            color: #fff;
            text-align: center;
            padding: 1rem 0;
           
        }
        #g-c {
          color: #fff;
        }
        .s-d{
        position: fixed;
        bottom: 20px;
        left: 20px;
        font-size: 20px;
        color: #fdfafa;
        background-color: #1d1919;
        padding: 5px 12px;
        border-radius: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }
        header .n nav {
    display: flex;
    align-items: center;
}

header .n nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header .n nav ul li {
    margin: 0;
}
#g-c{
    color: #F0F8FF;
}
#education{
   background-color:rgb(255, 255, 255);
   padding: 4rem 0;
}
#education h2{
    text-align: center;
}
#education p{
    padding: 1rem 0 20rem 0;
    text-align: center;
}
#education p#de{
    padding: 1rem 0 2rem 0;
    text-align: center;
}
#cc{
    color: #222;
}

#education .row{
            margin-top: 1rem;
            grid-template-columns: repeat(2,1fr);
            background-color: #fff;
            box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
           
    
}
#education img{
    height: 200px;
    width: 350px;
    max-width: 30%;
    border-radius: 10px;
}        

.education-details {
    padding: 0 9rem 0 0rem;
}

#education h4 {
   font-size: 20px;
   margin-top: 0rem;
   color: #000000;
}
#education h4#vv{
   color: #1f9747;
}
#education p{
    padding: 2rem 15rem 2rem 0rem;
}
#tpe{
    padding: 0 9rem 0 0rem;
    color: #c00808;
}
#bl{
    color: #1d1919;
}
#cantact2 .cntr {
    display: flex;
    justify-content: center; /* Align items horizontally at the center */
}

#cantact2 .item {
    display: flex;
    flex-direction: row; /* Align items in a row */
    justify-content: space-around; /* Distribute items evenly along the main axis */
    width: 100%; /* Adjust the width as needed */
    max-width: 1200px; /* Set a maximum width if necessary */
}

#cantact2 .row {
    text-align: center; /* Center align the content */
    flex: 1; /* Distribute available space evenly among the rows */
    margin: 0 10px; /* Add margin between rows */
    max-width: 300px; /* Set a maximum width for each row */
    padding: 1rem 6rem 1rem 6rem;
}
#cantact2 .cntr{
    display: flex;
    justify-content: center;
    
}
#cantact2{
    background-color:  #00f4ab0c;
    height: 310px;
}
#cantact2 .row{
    padding: 1rem 6rem 1rem 6rem;
    background-color: white;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    border-radius: 10px;
    margin: 3rem 2rem 3rem 2rem;
    height: 200px;
     width: 250px;
     transition: all 1s ease;
    
}
#cantact2 .item :hover{
    transform: scale(1.1); 

}
#cantact2 h4 {
    margin: 1rem 0rem 1rem -6.6rem;
    text-align: center;
     width: 250px;

}
#cantact2 p{
    margin: 1rem 0rem 0rem -6rem;
    text-align: center;
    height: 200px;
     width: 250px;
     text-decoration: underline;

}
#ll{
    font-size: 35px;
    text-align: center;
}

#cantact2 h4 {
    text-align: center;
}
#cantact2 .email{
    padding: 0 0rem 0 0;
}
#cantact2 .item{
    max-height: 310px;
    
}
#ft-one{
    background-color: #1d1919;
    color: white;
    width: 100%;
    height: 350px;

}
#ft-one .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    
}
#ft-one h3{
    margin-bottom: 0.5rem;
    font-size: 25px;
}

.pi , .ql ,.sm {
    margin: 40px 0 0 40px ;
}

.pi p{
    width: 300px;
}
#ft-one .s-m {
    font-size: 27px;
    
}
#ft-one .s-m i{
    color: white;
    margin-right: 0.5rem;
}
.ql ul li a {
    font-size: 19px;
    color: white;
}
.ql ul li :hover, #ft-one .s-m  :hover{
    color: #c00808;
    transition: 0.48s;
}
#ft p{
    font-size: small;
}
.icon{
    position: relative;
    top: 42px;
    left: 19px;
    color: #493c3c;
    z-index: 1;
}


@media only screen and (max-width: 1024px) {
    header{
        background-image: url(rb.jpg);
        background-size:100% 100vh ;
    }
    .t-p1{
        display: none;
    }
header .h-c {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .c-t{
        margin: 60px auto;
    }
#c1{
    margin-top: 50px;

}
.b-c{
    font-size: 25px;
    margin-bottom: 10px;
    margin: 1rem auto;
}
    header .h-c img {
        height: 500px;
        width: 500px;
        margin-bottom: 0;
        margin: 100px  auto;
        
    }
    

    header .n nav img#lp {
        width: 230px;
        margin-bottom: -45px;
        padding: 0 0rem 0 0;
        text-align: center;
    }
    header .h-c p span {
        font-size: 20px;
    }

    header .h-c #bb {
        font-size: 60px;
    }

    header .h-c #pp {
        font-size: 30px;
        padding-right: 0;
    }

    header .h-c .tt {
        font-size: 28px;
    }

    header .h-c .s-m {
        margin: 1rem 0rem 2rem;
        text-align: center;
        
    }
    header .h-c .s-m  a{
        font-size: 50px;
    }

    header .h-c .s-m a i {
        font-size: 40px;
        margin: 0 10px;
    }

    .ssb {
        font-size: 14px;
        height: auto;
        width: 100%;
        padding: 2rem 1rem;
        margin: auto;
    }

    .text-am {
        font-size: medium;
        text-align: center;
        width: 100%;
        margin: 20px 0;
        padding: 0 10px;
    }

    #about .about-c {
        grid-template-columns: 1fr;
    }

    #about .about-c .c2 p {
        text-align: center;
        
    }

    #skills .s-c .row .item {
        margin: 20px 3px;
    }

    #contact .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #contact .row img {
        max-width: 100%;
    }
    #contact .row input{
        height: 50px;
    }
    #contact .row input,
    #contact .row textarea {
        margin: 20px 0;
        width: 600px;
    }

    .tat {
        font-size: 40px;
    }
    #g-c {
    color: #fff;
    }
    #education .row {
        flex-direction: column;
        align-items: center;
    }

    #education img {
        min-width: 100%;
        margin-bottom: 10px;
        width: 700px;
    }

    .education-details {
        padding: 1rem 0 2rem 0;
    }

    #education h4 {
        font-size: 18px;
        padding: 0 1rem 1rem 2rem;
        text-transform: capitalize;
        
    }

    #education p {
        padding: 1rem 1rem 1rem 0rem;;
        text-align: center;
    }

    #tpe {
        padding: 0 1rem 10rem 2rem;

    }
    #cantact2 {
     display: none;
      
    }
    .icon{
        position: relative;
        top: 55px;
        left: -282px;
    }
    
}

@media(max-width: 528px) {

    header{
        background-image: url(rb.jpg);
        background-size:100% 100vh ;
    }
    header .h-c img{
        height: 330px;
        width: 330px;
    }
    header .h-c .s-m  a{
        font-size: 30px;
    }

    header .h-c .s-m a i {
        font-size: 40px;
        margin: 0 10px;
    }
    .c-t{
        margin: 20px auto;
    }

    .b-c{
        font-size: 15px;
    }
    .c1 ,.c2{
        width: 300px;
        margin-left: -3rem;
    }
    .c2{
        margin-top: 3rem ;
    }
    .s-m{
        margin: 0 auto;
    }
    header .h-c .s-m a i{
        font-size:20px;
    }
    
    header .n nav ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }

    header .n nav ul li {
        margin: 1rem auto;
    }

    header .n nav ul li a {
        margin: 0 10px ;
        color: rgb(255, 255, 255);
        font-family: 600;
        position: relative;
        margin-top: auto;
        text-align: center;
    }
    header .n nav {
        flex-direction: column;
        align-items: center;
        
    }

    header .n nav img {
        order: -1;
        margin-bottom: -40px;
        padding: 0 0rem 0 0;
        text-align: center;
    }

    

    header .n {
        background-color:#1d1919;
        padding-bottom: 5px;
        height: 135px;
        border-bottom:1px solid #292727;

    }


    header .n nav {
        flex-direction: column;
        align-items: center;
    }
    header .n nav ul {
        margin-top: 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    header .n nav ul li {
        margin: 1rem 0px 0rem 0 ;
    }
    header .n nav ul li a:after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        bottom: -5px; 
        left: 50%;
        transform: translateX(-50%);
        background-color: #c00808;
        transition: width 0.3s ease;
    }

    header .n nav ul li a:hover:after {
        width: 100%;
    }
   #home .h-c h1{
        font-size: 35px;
        padding-top: 5rem;
    }
     #home .h-c p span ,#home .h-c .tt {
        font-size: 16px;
     }
   header .h-c img{
    margin-top: 2rem;
    
   }
    #g-c {
    color: #fff;
    }


#about h2
#skills h2
#contact h2{
    font-size: 30px;
}
#about .about-c .c1 h3{
    font-size: 15px;
}
#skills .s-c .row{
    grid-template-columns: 1fr;
}
#contact .row{
    padding: 2rem 1rem;
    }
    #education .row {
        flex-direction: column;
        align-items: center;
    }

    #education img {
        max-width: 100%;
        margin-bottom: 10px;
        width: 500px;
    }

    .education-details {
        padding: 1rem 0 2rem 0;
    }

    #education h4 {
        font-size: 18px;
        padding: 0 1rem 1rem 2rem;
        text-transform: capitalize; 
    }

    #education p {
        padding: 1rem 1rem 1rem 0rem;;
        text-align: center;
    }
    
    #tpe {
        padding: 0 1rem 1rem 2rem;;
    }
    header .h-c .tt{
     color: #1d1919;
    }
    header .h-c #bb{
        text-shadow: #220d0d 1px 1px 1px;
    } 
    #contact .row input,
    #contact .row textarea{
        width: 100%;
    }  
    #contact .row input{
        height: 30px;
    }
    #cantact2 .item {
        flex-direction: column; 
        align-items: center; 
    }

    #cantact2 .row {
        margin: 10px 0;
        max-width: none;
    }
    
    #cantact2 {
         grid-template-columns: 1fr;
    }
    #cantact2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    height: 100vh;
}
#cantact2{
    height: 950px;
    
}
#ii{
    text-transform: capitalize;
}
#cantact2 .row :hover{
    transform: scale(0.95);
    transition: all 0.3s ease;

}
#cantact2 .row{
    padding: 1rem 6rem 0rem 6rem;
}
#ft-one{
    height: 670px;
}
#ft-one .row{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 4rem;
    
}
.n ul li{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.1px;
}
#ft p{
    font-size: 15px;
    width: 400px;
    text-align: center;
   
    
}
.s-up{
    bottom: 60px;
}
.s-d{
    bottom: 60px;
}
.icon{
    position: relative;
    top: 49px;
    left: -123.5px;
}




 }

